<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='/lib/bootstrap/themes/amelia.min.css'/>
        <link rel='stylesheet' href='/css/style.css'/>
    </head>
    <body>

        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand">Bajoo</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li><a href="#">Home</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
        </div>
    </body>
</html>